:root {
  --text-animate-color: rgb(198, 204, 206);
  --bg-animate-color: #1b263b;
  --default-font-size: 62.5%;
  --font-size: 1.6rem;
  --bg-color: rgb(134, 173, 236);
  --shadow: 2px 5px 2px rgba(43, 19, 19, 0.3);
  --font-family: Georgia, "Times New Roman", Times, serif;
  --font-color: #05080c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: var(--default-font-size);
  font-family: var(--font-family);
}
body {
  height: 100%;
  width: 100%;
  font-size: var(--font-size);
  color: var(--font-color);
}

header {
  height: 100vh;
  /* width: 100vw; */
  background-color: var(--bg-animate-color);
}
/* see below */
.hidden {
  opacity: 0;
}
.animate-particle-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.text-animate-container {
  text-align: center;
  font-size: 3vw;
  height: 12rem;
  width: 37rem;
  display: block;
  position: absolute;
  color: var(--text-animate-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
/* i need to fix above */

nav {
  padding: 3rem 0;
  box-shadow: var(--shadow);
}
nav > ul {
  display: flex;
  /* justify-content: space-around; */
  justify-content: flex-end;
  list-style-type: none;
}

nav > ul > li {
  padding: 0 4rem;
  /* float: right; */
}

li > a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
  font-size: 1.4rem;
  color: rgb(27, 26, 26);
  opacity: 0.6;
}

h5 {
  font-size: var(--font-size) + 20;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-area: "l-colum r-column";
  margin: 0.9rem 0;
  column-gap: 0.7rem;
}

main > section.left-column {
  grid: "l-column";
  background-color: #e7ebf0;
  padding: 1rem;
}

main > section.right-column {
  grid: "r-column";
  background-color: #e2e8f0;
  padding: 1rem;
}

.famous-says,
.about {
  border: 1px solid white;
  margin: 2rem 0;
  padding: 2rem 0;
}

#author {
  font-style: italic;
}
#quotes,
#author,
#self-intro,
h5 {
  text-align: center;
  padding: 1.6rem;
}

.carousel {
  display: flex;
  height: 100%;
  width: 100%;
}

.carousel-button-nav {
  position: absolute;
  /* right: 0; */
}

.carousel-item {
  display: flex;
  height: 100%;
  width: 100%;
}

.hide {
  visibility: hidden;
  display: none;
}

.carousel-item-image {
  background-color: rgb(248, 250, 245);
  height: 100%;
  width: 100%;

  transition: 0.6s all ease-in-out;
}
.carousel-item-image > img {
  height: 100%;
  width: 100%;
}

.carousel-item-info {
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.carousel-item-title {
  font-weight: 100;
  padding: 0 0 0.6rem 0;
}
.carousel-item-tech {
  padding: 0 0 0.04rem 0;
}

/* skills */
.skills {
  margin: 10rem 1rem;
}
.skills > h1 {
  text-align: center;
  margin: 0 0 6rem 0;
}
.marquee {
  margin: 0 auto;
  /* width: 600px;
  height: 30px; */
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #ccc 10%, transparent 80%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #ccc 10%, transparent 80%);
}
.marquee__content {
  width: 300%;
  display: flex;
  line-height: 30px;
  animation: marquee 40s linear infinite forwards;
}
.marquee__content:hover {
  animation-play-state: paused;
}
.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

/* footer */
footer {
  padding: 1rem;
}
footer > ul {
  display: flex;
  padding: 2rem;
  justify-content: center;
  list-style-type: none;
}
footer > ul > li {
  padding: 0 1rem;
}
footer > p {
  text-align: center;
}

@media only screen and (max-width: 320px) {
  header {
    height: 100vh;
    width: 100vw;
    background-color: rgb(187, 104, 79);
  }
  .animated-particle-background {
    height: 100vh;
    width: 100vw;
  }
  .text-animate-container {
    font-family: Khula;
    font-size: 3vw;
    text-align: center;
    height: 6rem;
    width: 10rem;
    display: block;
    position: absolute;
    color: rgb(207, 144, 144);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
